@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "vendor/tailwindcss/tailwindcss";
@import "vendor/fontawesome";

body {
  margin-top: 40px;
}

.navbar {
  @apply .fixed .top-0 .right-0 .left-0 .flex .flex-wrap .bg-blue-900;
  padding: .5rem 1rem;
  .navbar-brand {
    @apply text-white;
  }
  .nav-link {
    color: color(config('colors.white') a(50%));
  }
}

#container {
  @apply .flex flex-wrap;
  #nav {
    width: 300px;
  }
}