@tailwind base;
@tailwind components;

@import "layout/navbar";
@import "layout/navigation";
@import "layout/title";
@import "layout/breadcrumbs";
@import "layout/actions";
@import "layout/alerts";
@import "layout/toolbar";
@import "layout/content";

body {
  @apply bg-gray-200;
  margin-top: 54px;
}

.container-page {
  @apply flex;
  &:before {
    @apply bg-blue-800 block w-full absolute;
    height: 220px;
    content: '';
    z-index: -1;
  }
}

.container-main {
  @apply flex flex-wrap flex-grow mt-4;
  padding: 0 10px 0 230px;

}

@tailwind utilities;